.overflow-layer.active
	display block
.overflow-layer
	.tool-bar
		li
			float left
			.btn
				margin 8px
			.label
				margin 8px 4px
				display inline-block
				line-height 1.9
				font-size 100%
	.navbar
		.close
			padding 14px
			float none
		.save_edit
			opacity 0.8
			color #2da30e
	.overflow-body
		overflow auto
		width 100%

.text-block
	border-left 5px solid #08f
.new-quiz-layer, .edit-quiz-layer, .quiz-show
	background-color #fff
	.items_container
		display block
		.q_item
			.panel-heading
				.pull-right
					.btn
						margin-left 5px
			.list-group
				margin-bottom 0
				.choice_item
					cursor pointer
					.choice_img
						margin-bottom 5px
						img
							max-height 100px
						img.auto
							max-height 100%
				.selected
					font-weight bold
					font-style italic
					text-decoration underline
	.joined_users
		width 180px
		position fixed
		overflow auto
		padding-right 10px
		label
			.num
				margin-left 5px
		.bs-sidenav
			background-color #f5f5f5
			margin-bottom 10px
			a
				ellipsis()
				color #716b7a
			a:hover
				background-color: #e5e3e9
			.active a
				color: #428cce
				border-right: 3px solid #428cce

	.right_main
		margin-left 200px
	@media (max-width: 640px)
		.joined_users
			position relative
			width 100%
			padding-right 0
			height auto
		.right_main
			margin-left 0
	.title
		margin 15px 0
		text-align center
	.basic_info,.quiz_user_info
		.share,.confirm_score,.remove
			padding 0 15px
			margin-top 10px
		.panel-body
			padding 15px 0
	.attach_btn
		position relative
		input
			position absolute
			top 0
			left 0
			width 100%
			height 100%
			opacity 0
	.attach_preview
		margin-top 15px
	.attach_file
		.tips
			text-align center
			.fa
				margin-left 10px
.latex_preview,.md_preview
	position relative
	margin-top 10px
	.hint
		margin-bottom 10px
