.navbar.navbar-fixed-top.navbar-default
	.pull-left
		span.brand.navbar-brand
			= o_title
	ul.nav.tool-bar.pull-left
		li
			span.btn.btn-default.disabled.count
				| 试题数量
				em 0
		li
			span.btn.btn-default.disabled.score
				| 试题总分
				em 0


	ul.nav.pull-right
		li
			a.close_o(href="#")
				i.fa.fa-times

