ul.nav.nav-tabs.nav-justified(role="tablist")
	li.active(role="presentation")
		a(href="#owner" aria-controls="owner" role="tab" data-toggle="tab") 我创建的
	li(role="presentation")
		a(href="#joined" aria-controls="joined" role="tab" data-toggle="tab") 我参与的
.tab-content
	#owner.tab-pane.active.clearfix(role="tabpanel")
	#joined.tab-pane(role="tabpanel")

